<a href="https://colab.research.google.com/github/18wh1a05a6/internship-test2/blob/master/question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import pandas as pd
import numpy as np

In [73]:
d = pd.ExcelFile('/content/Book1.xlsx')
data = d.parse('Sheet1')
data.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [87]:
d = data.groupby((data.Year//10)*10)
d.agg({'Population':'max','Violent':'sum','Property':'sum','Murder':'sum','Forcible_Rape':'sum','Robbery':'sum','Aggravated_assault':'sum','Burglary':'sum','Larceny_Theft':'sum','Vehicle_Theft':'sum'})

      Population   Violent   Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                   ...
1960   201385000   4134930   45160900  ...  13321100       26547700        5292100
1970   220099000   9607930   91383800  ...  28486000       53157800        9739900
1980   248239000  14074328  117048900  ...  33073494       72040253       11935411
1990   272690813  17527048  119053499  ...  26750015       77679366       14624418
2000   307006550  13968056  100944369  ...  21565176       67970291       11412834
2010   318857056   6072017   44095950  ...  10125170       30401698        3569080

[6 rows x 10 columns]